
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.espaciado{
    margin:auto;
}

.espaciadoFila{
    padding: 10px;
}

.selectcolor{
    background: #018d86;
    color: white;
}